apiVersion: apps/v1
kind: Deployment
metadata:
  name: monitoring
  namespace: ecommerce
spec:
  replicas: 1
  selector:
    matchLabels:
      app: monitoring
  template:
    metadata:
      labels:
        app: monitoring
    spec:
      containers:
        - name: monitoring
          image: cinnamoll/ecommerce-monitoring:latest
          ports:
            - containerPort: 8000
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "kubernetes"
            - name: CONFIG_SERVICE_URL
              value: "http://config-server:8888"
            - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
              value: "http://discovery-server:8761/eureka/"
            - name: EXTRA_JAR_ARGS
              value: "-Xms256m -Xmx512m"
          resources:
            requests:
              memory: "180Mi"
              cpu: "50m"
            limits:
              memory: "512Mi"
              cpu: "500m"