apiVersion: v1
kind: Service
metadata:
  name: gateway
  namespace: ecommerce
  annotations:
    cloud.google.com/neg: '{"ingress": true}'
    cloud.google.com/backend-config: '{"default": "gateway-backendconfig"}'
spec:
  selector:
    app: gateway
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http
  type: LoadBalancer  # GCP sẽ tự động tạo External Load Balancer