apiVersion: apps/v1
kind: Deployment
metadata:
  name: authentication
  namespace: ecommerce
spec:
  replicas: 1
  selector:
    matchLabels:
      app: authentication
  template:
    metadata:
      labels:
        app: authentication
    spec:
      containers:
        - name: authentication
          image: cinnamoll/ecommerce-authentication:latest
          ports:
            - containerPort: 9000
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "kubernetes"
            - name: CONFIG_SERVICE_URL
              value: "http://config-server:8888"
            - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
              value: "http://discovery-server:8761/eureka/"

            # --- 1. SỬA LỖI KEYSTORE (BẮT BUỘC) ---
            - name: KEYSTORE_PASSWORD
              value: "password"

            - name: SPRING_DATASOURCE_URL
              value: "jdbc:postgresql://136.110.34.231:5432/postgres"

            - name: SPRING_DATASOURCE_USERNAME # Thay vì SPRING_R2DBC_USERNAME
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: username
            - name: SPRING_DATASOURCE_PASSWORD # Thay vì SPRING_R2DBC_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: password
            - name: EXTRA_JAR_ARGS
              value: "-Xms256m -Xmx512m"
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: authentication
  namespace: ecommerce
spec:
  selector:
    app: authentication
  ports:
    - port: 9000
      targetPort: 9000
  type: ClusterIP