apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ecommerce

# Thay thế commonLabels (cũ) bằng labels (mới) để hết cảnh báo
labels:
  - pairs:
      app.kubernetes.io/part-of: ecommerce-microservices
      app.kubernetes.io/managed-by: argocd

resources:
  - namespace.yaml
#  # Postgres
#  - postgres/deployment.yaml
#  - postgres/service.yaml
#  - postgres/pvc.yaml
  # Config Server
  - config-server/deployment.yaml
  - config-server/service.yaml
  # Discovery Server
  - discovery-server/deployment.yaml
  - discovery-server/service.yaml
  # Gateway
  - gateway/deployment.yaml
  - gateway/service.yaml
  # Authentication
  - authentication/deployment.yaml
  # Product
  - product/deployment.yaml
  - product/service.yaml
  # Order
  - order/deployment.yaml
  # Monitoring
  - monitoring/deployment.yaml
  - monitoring/service.yaml

images:
  - name: cinnamoll/ecommerce-config
    newName: asia-southeast1-docker.pkg.dev/btl-ecommerce-prod-478907/ecommerce-repo/ecommerce-config
    newTag: latest
  - name: cinnamoll/ecommerce-discovery-server
    newName: asia-southeast1-docker.pkg.dev/btl-ecommerce-prod-478907/ecommerce-repo/ecommerce-discovery-server
    newTag: latest
  - name: cinnamoll/ecommerce-gateway
    newName: asia-southeast1-docker.pkg.dev/btl-ecommerce-prod-478907/ecommerce-repo/ecommerce-gateway
    newTag: latest
  - name: cinnamoll/ecommerce-authentication
    newName: asia-southeast1-docker.pkg.dev/btl-ecommerce-prod-478907/ecommerce-repo/ecommerce-authentication
    newTag: latest
  - name: cinnamoll/ecommerce-product
    newName: asia-southeast1-docker.pkg.dev/btl-ecommerce-prod-478907/ecommerce-repo/ecommerce-product
    newTag: latest
  - name: cinnamoll/ecommerce-order
    newName: asia-southeast1-docker.pkg.dev/btl-ecommerce-prod-478907/ecommerce-repo/ecommerce-order
    newTag: latest
  - name: cinnamoll/ecommerce-monitoring
    newName: asia-southeast1-docker.pkg.dev/btl-ecommerce-prod-478907/ecommerce-repo/ecommerce-monitoring
    newTag: latest