apiVersion: v1
kind: Namespace
metadata:
  name: ecommerce
  labels:
    name: ecommerce
    environment: production
---
# Giới hạn tổng tài nguyên cho cả Namespace (Tránh bị tính tiền quá lố trên GCP)
apiVersion: v1
kind: ResourceQuota
metadata:
  name: ecommerce-quota
  namespace: ecommerce
spec:
  hard:
    requests.cpu: "8"
    requests.memory: 16Gi
    limits.cpu: "16"
    limits.memory: 32Gi
    pods: "50"
    services: "30"
    persistentvolumeclaims: "20"
---
# Thiết lập mặc định nếu quên set limit trong Deployment
apiVersion: v1
kind: LimitRange
metadata:
  name: ecommerce-limitrange
  namespace: ecommerce
spec:
  limits:
    - type: Container
      default:
        cpu: 1000m
        memory: 1Gi
      defaultRequest:
        cpu: 100m
        memory: 256Mi
# Tạm thời tắt NetworkPolicy để đảm bảo Gateway thông mạng