apiVersion: apps/v1
kind: Deployment
metadata:
  name: discovery-server
  namespace: ecommerce
spec:
  replicas: 1
  selector:
    matchLabels:
      app: discovery-server
  template:
    metadata:
      labels:
        app: discovery-server
    spec:
      containers:
        - name: discovery-server
          image: cinnamoll/ecommerce-discovery-server:latest
          ports:
            - containerPort: 8761
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "kubernetes"
            - name: CONFIG_SERVICE_URL
              value: "http://config-server:8888"
            - name: EXTRA_JAR_ARGS
              value: "-Xms256m -Xmx512m"
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8761
            initialDelaySeconds: 90
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8761
            initialDelaySeconds: 60
            periodSeconds: 10
          resources:
            requests:
              memory: "180Mi"
              cpu: "50m"
            limits:
              memory: "512Mi"
              cpu: "500m"