apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ecommerce-app
  namespace: argocd
spec:
  project: default
  source:
    # Đường dẫn tới Repo GitHub của bạn
    repoURL: https://github.com/cinnamoll/btl-doanh-nghiep.git
    # Nhánh bạn đang làm việc
    targetRevision: ci-cd-2
    # Đường dẫn chứa file kustomization.yaml
    path: k8s/base
  destination:
    # Deploy vào cụm hiện tại
    server: https://kubernetes.default.svc
    # Deploy vào namespace ecommerce
    namespace: ecommerce
  # Cấu hình tự động đồng bộ (Auto Sync)
  syncPolicy:
    automated:
      prune: true    # Tự động xóa tài nguyên nếu trên Git đã xóa
      selfHeal: true # Tự động sửa nếu ai đó sửa tay trên K8s lệch với Git
    syncOptions:
      - CreateNamespace=true # Tự tạo namespace ecommerce nếu chưa có